// src/styles/NavigationComponent.scss
.navigation-container {
    .MuiAppBar-root {
    background-color: #3f51b5;
    }
    .MuiButton-root {
    margin-right: 10px;
    }
    .MuiTypography-root {
    flex-grow: 1;}}